In [13]:
import os
import time
import multiprocessing as mp
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import func4behav as fb
import itertools
import imp
imp.reload(fb)

In [14]:
record = pd.DataFrame(columns=['try id', 'Real picks', 'Sham picks', 'p value', 'Judge'])
all_real = [1, 3, 4, 5, 9, 12, 13, 17, 18]
all_sham = [2, 6, 7, 8, 10, 11, 14, 15, 16]
size = 4
real_comb = [list(comb) for comb in itertools.combinations(all_real, size)]
sham_comb = [list(comb) for comb in itertools.combinations(all_sham, size)]

In [15]:
len(real_comb), len(sham_comb)

(9, 9)

In [16]:
start_time = time.time()
try_id = 0

for real_to_pick in real_comb:
    for sham_to_pick in sham_comb:

        watch_cases = ['endo', 'exo', 'endo valid', 'exo valid']
        watch_idxs = ["RT mean shorten %", "RT std decrease"]
        p = fb.do_compare(real_to_pick, sham_to_pick, watch_cases, watch_idxs)


        record.at[try_id, 'try id'] = try_id
        record.at[try_id, 'Real picks'] = real_to_pick
        record.at[try_id, 'Sham picks'] = sham_to_pick
        record.at[try_id, 'p value'] = p
        record.at[try_id, 'Judge'] = [1 if all(i <= 0.05 for i in sublist if i is not None) else 0 for sublist in p]

        try_id += 1

end_time = time.time()
elapsed_time = end_time - start_time  # Calculate the difference
print(f"The program took {elapsed_time} seconds to run.")
record.to_csv('../../../docs/report/record_'+str(size)+'.csv', index=False)

The program took 28.591588735580444 seconds to run.

,try id,Real picks,Sham picks,p value,Judge
0,0,[1],[2],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
1,1,[1],[6],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
2,2,[1],[7],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
3,3,[1],[8],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
4,4,[1],[10],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
...,...,...,...,...,...
76,76,[18],[10],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
77,77,[18],[11],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
78,78,[18],[14],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
79,79,[18],[15],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"
80,80,[18],[16],"[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0]]","[0, 0]"