In [1]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
subject_id = 1
behavior_before_path = os.path.join('..', '..', 'data', str(subject_id), 'behavior_before.csv')
behavior_before = pd.read_csv(behavior_before_path)
behavior_after_path = os.path.join('..', '..', 'data', str(subject_id), 'behavior_after.csv')
behavior_after = pd.read_csv(behavior_after_path)
display(behavior_before)

,type,cue,valid,ICS,stimulus side,stimulus x,stimulus y,response,reaction time
0,2,1,1,0.5,1,1292,-220,1,0.27437
1,2,-1,1,1.0,-1,1131,-220,1,0.21226
2,1,-1,-1,0.5,1,1131,220,1,0.40884
3,1,-1,-1,0.5,1,969,-220,1,0.22220
4,1,1,1,1.0,1,1131,220,1,0.19879
...,...,...,...,...,...,...,...,...,...
115,2,-1,-1,0.5,1,1131,0,1,0.22188
116,2,-1,1,0.5,-1,1292,-73,1,0.22044
117,2,-1,1,1.0,-1,1292,-73,1,0.20631
118,2,-1,1,0.5,-1,1292,-220,1,0.50784
119,1,-1,1,0.5,-1,969,-73,1,0.31253